{# templates/commentaire/show.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Commentaire Detail{% endblock %}

{% block body %}
    <h1>Commentaire Detail</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <!-- Add other properties as needed -->
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ commentaire.id }}</td>
                <td>{{ commentaire.titre }}</td>
                <!-- Display other properties as needed -->
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_commentaire_index') }}">Back to list</a>
{% endblock %}
